---
import DemoLayout from '../layouts/DemoLayout.astro';
import DemoContent from '../components/DemoContent.astro';
---

<DemoLayout title="CSP Demo">
	<h1>No CSP Rule</h1>
	<DemoContent />
</DemoLayout>
