---
import CspDebug from "../components/CspDebug.astro";
import Navbar from "../components/Navbar.astro";

const { title, csp } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta http-equiv="Content-Security-Policy" content={csp} />
	</head>
	<body>
        <Navbar />
		<slot />
        <CspDebug csp={csp} />
	</body>
</html>
