---

---
<style>
header {
    display: flex;
    flex-direction: row;
    background-color: #333;
}

a {
    display: block;
    padding: 8px;
    color: #eee;
    text-decoration: none;
    border-right: 2px solid #eee;
</style>
<header>
    <a href="/">Start</a>
	<a href="/no-csp">No CSP</a>
	<a href="/default-none">Default None</a>
	<a href="/simple">Simple</a>
	<a href="/extended">Extended</a>
</header>