---

---
<style>
    div {
        border: 1px dashed #333;
    }
</style>

<div>
    <img src="https://dummyimage.com/300" alt="dummy image 300" />
    <img src="circle-heat.svg" alt="Dummy svg" width="300px" />
    <img src="chef.jpg" alt="Chef in the kitchen" width="300px"/>
    <iframe src="https://romanehrbar.ch/" title="Dummy iframe"></iframe>
</div>